<div class="container">
  <h1>Witaj </h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/cos.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Obrazek 1</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima et totam tempora, corporis voluptatibus rerum a voluptatum deserunt exercitationem odio animi repudiandae ea maiores. Impedit, aut ipsa! Velit, fugiat quam!</p>
        </div>
      </div>
    </div>
</div>
<button (click)="logout()" class="btn btn-info">Wyloguj</button>
</div>
