<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Logowanie</h3>

      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Dane logowania:</h5>
            <form (ngSubmit)="login()">
              <div class="form-group">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" name="username" id="username" required [(ngModel)]="user.username" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" name="password" id="password" required [(ngModel)]="user.password" class="form-control">
              </div>
              <br>
              <button type="submit" class="btn btn-success">Zaloguj</button>
            </form>

            <div *ngIf="isSubmited">
              <div *ngIf="komunikat; else errorTemplate" class="alert alert-success">
                  Jesteś zalogowany <b>{{ user.username }}</b>. Za chwilę przeniesiemy Cię do panelu użytkownika.
              </div>
              <ng-template #errorTemplate>
                <div class="alert alert-danger">Problem z zalogowaniem, spróbuj jeszcze raz</div>
              </ng-template>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

